<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

 
<test name="AppTest">
    <classes>
        <class name="com.learntestng.learntestng.AppTest" ></class>  
    </classes>
</test>
<test name="SampleTest">
    <classes>
        <class name="com.learntestng.learntestng.SampleTest" ></class>  
    </classes>
</test>

</suite>
