<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

<listeners>
<listener class-name="testng_listeners.CustomListeners"></listener>
</listeners>
<test name="Login">
    <classes>
        <class name="testng_listeners.Login" ></class>  
    </classes>
</test>
</suite>
