<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">
<test name="Application_Test">
    <classes>
        <class name="TestCases.Application_Test" ></class>  
    </classes>
</test>
<test name="LoginTest">
    <classes>
        <class name="TestCases.LoginTest" ></class>  
    </classes>
</test>
<test name="RegTest">
    <classes>
        <class name="TestCases.RegTest" ></class>  
    </classes>
</test>
</suite>
