<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">
<test name="Contacts">
    <classes>
        <class name="Salesforce.com.ddf.Contacts" ></class>  
    </classes>
</test>
<test name="LoginTest">
    <classes>
        <class name="Salesforce.com.ddf.LoginTest" ></class>  
    </classes>
</test>
<test name="opportunity">
    <classes>
        <class name="Salesforce.com.ddf.opportunity" ></class>  
    </classes>
</test>
</suite>
